%h1= (@games.count/2).to_s + " Games"

%div{style: "font-size: 0.9em;margin-left: 40px;margin-bottom: 10px;"}
  %h2 Darts Log
  %p Share your scores
  %ol
    %li= link_to 'Install Russ Bray Darts Scorer - Application on your iPhone/iPad', "http://itunes.apple.com/de/app/russ-bray-s-scorer/id377453562?mt=8"
    %li 
      Send your results as email to 
      %strong darts@iboard.cc
    %li= link_to 'View your data at the Score Table', games_path
    %li Download your Games as CSV and edit your statistics as a spreadsheet
  %p It's free, it's anonymous, it's fun.

#results
  #links
    = link_to "Download CSV", games_path(format: :csv)
  %table{style: 'width: 100%; border: 1px solid #ddd; margin:0px; padding:0px', cellpadding: 0, cellspacing: 0}
    %tr{style: 'background: #ddd;    padding: 0px; margin:0px'}    
      %th Date    
      %th Game    
      %th Player
      - [:sets,:legs,:doubles_hit,:three_dart_average,:highes_throw,:highest_checkout,:count_180,:count_140,:count_100,:count_60].each do |key|
        %th= key.to_s.humanize
      = render @games